// Customise these values to fit your needs

// Grid
@container-width: 1000px;
@container-margin: 0 auto 0 auto;
@container-padding: 0 20px;
@column-width: 65px;
@column-margin-right: 20px;

// Grid medium
@container-md-width: 812px;
@container-md-margin: 0 auto 0 auto;
@container-md-padding: 0 20px;
@column-md-width: 53px;
@column-md-margin-right: 16px;

// Grid small
@container-sm-width: 612px;
@container-sm-margin: 0 auto 0 auto;
@container-sm-padding: 0 20px;
@column-sm-width: 40px;
@column-sm-margin-right: 12px;