// customise this file

// colors
@primary: #f29b46;
@success: #67b143;
@gray: #333333;
@link: #0099cc;
@gray-light: #cccccc;
@gray-bright: #eeeeee;
@gray-white: #fcfcfc;
@gray-subtle: #afafaf;
@blue-light: #6bbdea;
@alert-red: #f2bebd;
@warning: #f0ad4e;
@danger: #d9534f;

// main font: @body-font-family
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
// headline font: @headings-font-family
// @import url(http://fonts.googleapis.com/css?family=Raleway:400,300200);

// body
@body-font-color: @gray;
@body-margin: 0;
@body-padding: @page-full-height 0 0 0;
@body-background: @gray-white; // other example could be: url('/img/bg.jpg') top center no-repeat;
@body-font-size: 14px;
@body-line-height: 20px;
@body-font-family: 'Open Sans', sans-serif;

// page
@page-wrap-width: 996px;
@page-wrap-margin: 0 auto 0 auto;
@page-wrap-padding: 0 20px;
@page-full-height: 80px;
@page-full-line-height: 80px;

// grid
@column-width: 107px;
@column-margin-right: 20px;

@column-width-md: 82px;
@column-margin-right-md: 16px;

// border-radius
@border-radius-base: 2px;
@border-radius-small: 1px;

// buttons
@button-bg-color: #fff;
@button-padding: 6px 12px;
@button-padding-tb: 6px;
@button-padding-lr: 12px;
@button-height: 20px; // + padding + border
@button-height-border: 34px; // + padding + border
@button-margin: 0;
@button-border: 1px solid @gray-light;
@button-border-strength: 1px;
@button-line-height: 18px;

// menu
@menu-container-background: url('/img/white-25.png');
@menu-width: @column-width * 2 + @column-margin-right - 180px;
@menu-item-float: none;
@menu-item-border-top: 2px solid @gray-light;
@menu-link-transform: uppercase;
@menu-link-width: @menu-width;
@menu-link-line-height: 50px;
@menu-link-padding-left: 10px;
@menu-link-background: url('/img/arrows.png') top right no-repeat;

// headings
@headings-font-family: 'Open Sans', sans-serif;
@headings-font-weight: 600;

@h1-font-size: 50px;
@h2-font-size: 30px;
@h3-font-size: 25px;
@h4-font-size: 18px;
@h5-font-size: 16px;
@h6-font-size: 10px;

@h1-margin: 50px 0;
@h2-margin: 45px 0;
@h3-margin: 0;
@h4-margin: 5px 0;
@h5-margin: 10px 0;
@h6-margin: 5px 0;

@h1-line-height: 50px;
@h2-line-height: 38px;
@h3-line-height: 30px;
@h4-line-height: 26px;
@h5-line-height: 10px;
@h6-line-height: 5px;

// panel
@panel-padding: 0;
@panel-margin: 0 0 @column-margin-right 0;
@panel-border: 1px solid @gray-light;
@panel-bg-color: #fff;
@panel-border-strength: 1px;

@panel-heading-padding: 10px 20px;
@panel-heading-border-bottom: 1px solid darken(@panel-bg-color, 10%);
@panel-heading-bg-color: darken(@panel-bg-color, 5%);
@panel-heading-line-height: 20px;

@panel-body-padding: 20px;

// screen
@screen-padding: 40px 50px;

// form

@form-width: 424px;
@input-padding: 6px 10px;
@input-padding-lr: 10px;
@input-border: 1px solid @gray-light;
@input-border-strength: 1px;
@input-width: @form-width;
@input-width-small: @form-width - 275px;
@input-height: 20px;
@input-margin: 0 0 (@column-margin-right / 2) 0;
@label-margin: 4px 0 0 0;
@textarea-height: 42px;

// typo
@side-note-color: @gray + 60%;
@side-note-font-size: 14px;
@side-note-font-weight: normal;

@badge-font-size: 11px;
@badge-padding: 0 5px;
@badge-font-weight: bold;

@font-size-small: 10px;
@font-size-small-color: @gray-light;