// Customise these values to fit your needs

// Grid
@grid-width: 1420px;
@grid-margin: 0 auto 0 auto;
@grid-padding: 0 20px;
@column-width: 100px;
@column-margin-right: 20px;

// Grid medium
@grid-md-width: 1016px;
@grid-md-margin: 0 auto 0 auto;
@grid-md-padding: 0 20px;
@column-md-width: 70px;
@column-md-margin-right: 16px;

// Grid small
@grid-sm-width: 732px;
@grid-sm-margin: 0 auto 0 auto;
@grid-sm-padding: 0 20px;
@column-sm-width: 50px;
@column-sm-margin-right: 12px;