.btn-primary {
  background-color: @primary;
  padding: 5px 20px;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s;
  margin: 10px 0;
}

.btn-primary:hover {
  background-color: @primary - 20%;
}