.btn {
  padding: 5px 20px;
  text-decoration: none;
  transition: background-color 0.2s;
  margin: 10px 0;
  border: 0;
  border-radius: @border-radius-base;
  font-size: @body-font-size;
  line-height: 25px;
  cursor: pointer;
}

.btn-primary {
  .btn;
  background-color: @primary;
  color: #fff;
}

.btn-primary:hover {
  background-color: @primary - 20%;
}

.btn-success {
  .btn;
  background-color: @success;
  color: #fff;
}

.btn-success:hover {
  background-color: @success - 20%;
}

.btn-primary:focus, .btn-success {
  outline: none;
}

.btn-success {

}