html {
  margin: 0;
  padding: 0;
}

body {
  margin: @body-margin;
  padding: @body-padding;
  font-family: @body-font-family;
  font-size: @body-font-size;
  line-height: @body-line-height;
  background: @body-background;
  color: @gray;
}

h1 {
  font-size: @h1-font-size;
  margin: @h1-margin;
}

h2 {
  font-size: @h2-font-size;
  margin: @h2-margin;
}

h3 {
  font-size: @h3-font-size;
  margin: @h3-margin;
}

h4 {
  font-size: @h4-font-size;
  margin: @h4-margin;
}

h5 {
  font-size: @h5-font-size;
  margin: @h5-margin;
}

h6 {
  font-size: @h6-font-size;
  margin: @h6-margin;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
}