.form {

  .form-input {
    border-radius: @border-radius-base;
    border: 1px solid @gray-light;
    padding: @input-padding ;
    width: @input-width;
    font-family: @body-font-family;
    font-size: @body-font-size;
    color: @gray;
    margin: @input-margin;
    transition: border 0.5s;
    float: left;
  }

  .form-input:focus, .form-textarea:focus {
    outline: 0;
  }

  .form-label {
    margin: @label-margin;
    display: block;
    font-weight: 700;
  }

  .disabled {
    background-color: @gray + 75%;
  }

}