.grid {
  width: 100%;
  max-width: @grid-width;
  margin: @grid-margin;
  padding: @grid-padding;
  box-sizing: border-box;
}

.grid-md {
  width: 100%;
  max-width: @grid-md-width;
  margin: @grid-md-margin;
  padding: @grid-md-padding;
  box-sizing: border-box;
}

.grid-sm {
  width: 100%;
  max-width: @grid-sm-width;
  margin: @grid-sm-margin;
  padding: @grid-sm-padding;
  box-sizing: border-box;
}

.grid:after, .grid-md:after, .grid-sm:after {
  content: "";
  display: table;
  clear: both;
}

.cols(12);

.cols(@n, @i: 1) when (@i =< @n) {

  .col-@{i} {
    width: @column-width * @i + (@column-margin-right * (@i - 1));
    float: left;
    margin-right: @column-margin-right;
  }
  .col-off-@{i} {
    margin-left: @i * (@column-width + @column-margin-right);
  }

  .col-md-@{i} {
    width: @column-md-width * @i + (@column-md-margin-right * (@i - 1));
    float: left;
    margin-right: @column-md-margin-right;
  }
  .col-md-off-@{i} {
    margin-left: @i * (@column-md-width + @column-md-margin-right);
  }

  .col-sm-@{i} {
    width: @column-sm-width * @i + (@column-sm-margin-right * (@i - 1));
    float: left;
    margin-right: @column-sm-margin-right;
  }
  .col-sm-off-@{i} {
    margin-left: @i * (@column-sm-width + @column-sm-margin-right);
  }

  .cols(@n, (@i + 1));
}

.col-12, .col-md-12, .col-sm-12, .col-last {
  float: left;
  margin-right: 0;
}