.container {
  width: @container-width;
  margin: @container-margin;
  padding: @container-padding;
}

.container-md {
  width: @container-md-width;
  margin: @container-md-margin;
  padding: @container-md-padding;
}

.container-sm {
  width: @container-sm-width;
  margin: @container-sm-margin;
  padding: @container-sm-padding;
}

.cols(8);

.cols(@n, @i: 1) when (@i =< @n) {

  .col-@{i} {
    width: @column-width * @i + (@column-margin-right * (@i - 1));
    float: left;
    margin-right: @column-margin-right;
  }
  .col-offset-@{i} {
    margin-left: @i * (@column-width + @column-margin-right);
  }

  .col-md-@{i} {
    width: @column-md-width * @i + (@column-md-margin-right * (@i - 1));
    float: left;
    margin-right: @column-md-margin-right;
  }
  .col-md-offset-@{i} {
    margin-left: @i * (@column-md-width + @column-md-margin-right);
  }

  .col-sm-@{i} {
    width: @column-sm-width * @i + (@column-sm-margin-right * (@i - 1));
    float: left;
    margin-right: @column-sm-margin-right;
  }
  .col-sm-offset-@{i} {
    margin-left: @i * (@column-sm-width + @column-sm-margin-right);
  }

  .cols(@n, (@i + 1));
}

.col-8, .col-md-8, .col-sm-8, .col-last {
  float: left;
  margin-right: 0;
}

.clear-fix {
  clear: both;
}