.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
}

.menu-item {
  float: @menu-item-float;
  border-top: @menu-item-border-top;
  width: @menu-width;
}


.menu-item-last {
  border-bottom: @menu-item-border-top;
}

.menu-link {
  display: block;
  padding: 0 0 0 @menu-link-padding-left;
  line-height: @menu-link-line-height;
  color: @gray;
  text-decoration: none;
  text-transform: @menu-link-transform;
  width: @menu-width - @menu-link-padding-left;
  height: @menu-link-line-height;
  background: @menu-link-background;
  transition: background-position 0.2s;
}

.menu-link-active {
  color: @primary;
  background-position: bottom right;
}

.menu-link:hover {
  color: @primary;
  background-position: bottom right;
}
