.page-wrap {
  width: @page-wrap-width;
  margin: @page-wrap-margin;
  height: 100%;
}

.block {
  display: block;
}

.clear {
  clear: both;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}