@media screen and (max-width: 1035px) {
  .container { width: 768px; padding: 0 @column-md-margin-right; }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8 { margin-right: @column-md-margin-right; }
  .col-last { margin-right: 0; }
  .col-1 { width: @column-md-width; }
  .col-2 { width: (@column-md-width * 2) + @column-md-margin-right; }
  .col-3 { width: (@column-md-width * 3) + (2 * @column-md-margin-right); }
  .col-4 { width: (@column-md-width * 4) + (3 * @column-md-margin-right); }
  .col-5 { width: (@column-md-width * 5) + (4 * @column-md-margin-right); }
  .col-6 { width: (@column-md-width * 6) + (5 * @column-md-margin-right); }
  .col-7 { width: (@column-md-width * 7) + (6 * @column-md-margin-right); }
  .col-8 { width: (@column-md-width * 8) + (7 * @column-md-margin-right); }
  .col-offset-1 { margin-left: @column-md-width + @column-md-margin-right; }
  .col-offset-2 { margin-left: 2 * (@column-md-width + @column-md-margin-right); }
  .col-offset-3 { margin-left: 3 * (@column-md-width + @column-md-margin-right); }
  .col-offset-4 { margin-left: 4 * (@column-md-width + @column-md-margin-right); }
  .col-offset-5 { margin-left: 5 * (@column-md-width + @column-md-margin-right); }
  .col-offset-6 { margin-left: 6 * (@column-md-width + @column-md-margin-right); }
  .col-offset-7 { margin-left: 7 * (@column-md-width + @column-md-margin-right); }
}

@media screen and (max-width: 808px) {
  .container, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8 { width: 100%; box-sizing: border-box; }
  .col-offset-1, .col-offset-2, .col-offset-3, .col-offset-4, .col-offset-5, .col-offset-6, .col-offset-7 { margin-left: 0; }
}