.side-note {
  font-size: @side-note-font-size;
  color: @side-note-color;
  font-weight: @side-note-font-weight;
}

.align-center {
  text-align: center;
}

.link {
  text-decoration: none;
  color: @link;
}